<app-select-appointment></app-select-appointment>

<!--Footer-->
<footer class="bg-white">
    <div class="container mx-auto px-10">
      <div class="w-full flex flex-col md:flex-row py-6">
        <div class="flex-1 mb-6 text-black">
          <a class="text-pink-600 no-underline hover:no-underline font-bold text-3xl lg:text-3xl" href="#">
            <img class="h-10 fill-current inline" src="../../assets/hslogo.png" 
            width="40" 
            height="20" />
            HAS RANDEVU
          </a>
        </div>
        <div class="flex-5">
          <p class="uppercase text-gray-500 md:mb-6">HasScript Copyright 2022 Tüm Hakları Saklıdır.</p>
        </div>
      </div>
    </div>
  </footer>
