<div>
    <h1 class="text-center text-4xl">doktorlarımız</h1>
    <div class="doctor-container" >
        <div class="flex flex-col justify-center items-center">
            <img src="../../assets/profileImage.jpeg" alt="">
            <span>doctor.name</span>
            <span>doctor.surname</span>
            <span>doctor.email</span>
            <span>doctor.phoneNumber</span>
        </div>
        <div>
            <img src="../../assets/profileImage.jpeg" alt="">
            <span>doctor.name</span>
            <span>doctor.surname</span>
            <span>doctor.email</span>
            <span>doctor.phoneNumb</span>
        </div>
        <div>
            <img src="../../assets/profileImage.jpeg" alt="">
            <span>doctor.name</span>
            <span>doctor.surname</span>
            <span>doctor.email</span>
            <span>doctor.phoneNumber</span>
        </div>
    </div>
</div>